html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.btn-vote{
    line-height:6;
}
#FAIR{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
#POOR{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
#GOOD{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#FAIR.active{
    background-color: #31b0d5;
    border-color: #269abc;
}
#POOR.active{
    background-color: #c9302c;
    border-color: #ac2925;
}
#GOOD.active{
    background-color: #449d44;
    border-color: #398439;
}