<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> </head>
<body>

<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-2">
        </div>
        <form action="voteSubmit" method="post" id="voteForm" onsubmit="return validateForm()">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6">
                                    <span th:text="${survey.title}"></span>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    Expires in <span class="text-right countdown" th:attr="data-expire=${expire},data-create=${survey.createdTime}"></span>
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${survey.description}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn-group col-md-12" data-toggle="buttons">
                                <label class="col-md-4 btn-vote btn btn-lg" th:each="ty : ${options}" th:id="${ty}">
                                        <input type="radio" required="required" name="vote" th:id="${ty}" th:value="${ty}" autocomplete="off" />
                                        <span th:for="${ty}" th:text="${ty}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="surveyID" th:value="${survey.id}" />
                                <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit" name="submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>




<footer th:replace="fragments/footer :: footer"> </footer>
</body>
</html>