<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> </head>
<body>

<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-3">
        </div>
        <form action="#" th:action="@{/survey}" th:object="${survey}" method="post">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>Create new survey</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" th:field="*{title}" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Type</label>
                                    <select class="form-control" th:field="*{surveyType}">
                                        <option th:each="type : ${T(voting.domain.SurveyType).values()}" th:value="${type}" th:text="${type}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-lg btn-block" value="Create Survey" name="submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"> </footer>
</body>
</html>